* {
  font-size: 4.5vw;
}
#body-div {
  padding: 0 0 1em 1em;
}
html {
  background: #eee;
  padding-right: 1em;
  padding-bottom: 1em;
}
body { color: #555; padding: 0; margin: 0; margin-left: 1em;
  background: white;
}
td { padding-right: 2em; }
#animal-table, #animal-table th, #animal-table td { border: 1px solid #aaa; }
#nav-bar { background: #eee; padding: 8px; margin-bottom: 1em;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
form div label {
  width: 20vw;
  display: inline-block;
}
form div {
  margin-bottom: 1em;
}
.image {
  height: 400px;
}
